- name: Update Homebrew before beginning
  community.general.homebrew:
    update_homebrew: yes

- name: Install Yazi on MacOS
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_packages }}"
  become: yes
  when: ansible_distribution == "MacOSX"

- name: Install Yazi on Debian/Ubuntu
  import_tasks: debian.yml
  when: ansible_distribution in ["Ubuntu", "Debian"]

- name: Install Yazi on Fedora
  become: yes
  import_tasks: fedora.yml
  when: ansible_distribution == "Fedora"
