- name: Install Yazi on MacOS
  import_tasks: macos.yml
  when: ansible_distribution == "MacOSX"

- name: Install Yazi on Debian/Ubuntu
  import_tasks: debian.yml
  when: ansible_distribution in ["Ubuntu", "Debian"]

- name: Install Yazi on Fedora
  become: yes
  import_tasks: fedora.yml
  when: ansible_distribution == "Fedora"
